
/*for select items:*/


/* -------------------- Page Styles (not required) */
div { margin: 20px; }

/* -------------------- Select Box Styles: bavotasan.com Method (with special adaptations by ericrasch.com) */
/* -------------------- Source: http://bavotasan.com/2011/style-select-box-using-only-css/ */
.styled-select {
   background: url(../img/icons/down.png) no-repeat 96% 0;
   height: 50px;
   overflow: hidden;
   width: 370px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 30px;
   height: 50px;
   /*padding: 5px; !* If you add too much padding here, the options won't show in IE *!*/
  	 width: 370px;
}

.styled-select.slate {
   /*background: url(../img/icons/down2.jpg) no-repeat right center;*/
   height: 50px;
   width: 370px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 50px;
   width: 370px;
}

/* -------------------- Rounded Corners */
/*.rounded {*/
   /*-webkit-border-radius: 20px;*/
   /*-moz-border-radius: 20px;*/
   /*border-radius: 20px;*/
/*}*/

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */
.slate   { background-color: #ddd; }
.green   { background-color: #779126; }
.blue    { background-color: rgba(69, 161, 255, 0.72); }
.yellow  { background-color: #eec111; }
.black   { background-color: #000; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #0f0f96; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


